<%- include('partials/header') %>

  <div class="jumbotron text-center">
   <% if(locals.userDetails){ %>
     <div class="container">
      <i class="fas fa-key fa-6x"></i>
      <img src=<%= userDetails.picture %> alt="profile picture">
      <h1 class="display-3"><%= userDetails.name %></h1>
      <p class="secret-text"><%= userDetails.email %></p>
      <hr>
      <form action="/logout" method="POST">
        <button type="submit" class="btn btn-dark">
          Logout
        </button>
      </form> 
      <a class="btn btn-dark btn-lg mt-5" href="/submit" role="button">Submit a Secret</a>

    </div>
 <%  } %>
  </div>

  <%- include('partials/footer') %>